numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.0
seaborn==0.12.2
string
nltk
re
sklearn.feature_extraction.text import CountVectorizer
wordcloud
nltk.stem.porter import PorterStemmer
nltk.download('stopwords')
confusion_matrix,ConfusionMatrixDisplay from sklearn.metrics
train_test_split from sklearn.model_selection
RandomForestClassifier from  sklearn.ensemble
word_tokenize from nltk.tokenize
